{
  "FastifyApiFunction": {
    "PORT": "3010",
    "AWS_REGION": "us-west-2",
    "AWS_ACCESS_KEY_ID": "REPLACEME",
    "AWS_SECRET_ACCESS_KEY": "REPLACEME",
    "AWS_COGNITO_USER_POOL_ID": "REPLACEME",
    "AWS_COGNITO_CLIENT_ID": "REPLACEME",
    "AWS_COGNITO_CLIENT_SECRET": "REPLACEME",
    "NODE_ENV": "dev",
    "USE_AWS_CREDENTIALS": "true",
    "SENTRY_DSN": "REPLACEME",
    "CERTIFICATE_ARN": "REPLACEME",
    "SENTRY_LAMBDA_LAYER_ARN": "REPLACEME",
    "HOSTED_ZONE_ID": "Z07109492D8JSV82IK58C"
  }
}



